<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
 

   <bean id="pdffullmonthreport"
   	class="meg.bank.bus.report.pdf.FullMonthReportPDF">
   </bean>
   <bean id="pdfyearlyreport"
   	class="meg.bank.bus.report.pdf.YearlyReportPDF">
   </bean>   
  <!--  <bean id="pdfsummaryreport"
   	class="meg.bank.bus.report.pdf.SummaryReportPDF">
   </bean>   
      <bean id="pdfcategorybymonthreport"
   	class="meg.bank.bus.report.pdf.CategoryByMonthReportPDF">
   </bean>  
      <bean id="pdfyearlyreport"
   	class="meg.bank.bus.report.pdf.YearlyReportPDF">
   </bean> 
 -->


</beans>